<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Best of the year by</h1>
<h2 th:text="${name}"></h2>
<div>
    <div>
        <a href="/movies">vai in movie</a>
        <ul style="list-style-type:none">
            <li th:text="${movies}"></li>
        </ul>
    </div>

    <div>
        <a href="/songs">vai in songs</a>
        <ul style="list-style-type:none">
            <li th:text="${songs}"></li>
        </ul>
    </div>

</div>

</body>
</html>