<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Home')"></head>
<body>
<nav th:replace="/fragments/navbar :: topNavbar('home')"></nav>
<h1>Best of the year by</h1>
<h2 th:text="${name}"></h2>
<div>
    <div>
        <ul style="list-style-type:none">
            <li th:each="movie : ${movies}">
                <a th:href="@{|/movies/${movie.id}|}" th:text="|${movie.title} - ${movie.id}|"></a>
            </li>
        </ul>
    </div>

    <div>
        <ul style="list-style-type:none">
            <li th:each="song : ${songs}">
                <a th:href="@{|/songs/${song.id}|}" th:text="|${song.title} - ${song.id}|"></a>
            </li>
        </ul>
    </div>

</div>
<th:block th:replace="/fragments/resources :: jsResources"></th:block>
</body>
</html>