<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: headResources('Song Detail')"></head>
<body>
<nav th:replace="/fragments/navbar :: topNavbar('song')"></nav>

<h1>Song Detail</h1>
<ul style="list-style-type:none">
    <li>Titolo : <b>[[${song.title}]]</b></li>
    <li>Id : <b>[[${song.id}]]</b></li>
</ul>
<span>Torna alla pagina delle <a th:href="@{/songs}">canzoni</a></span>
<th:block th:replace="/fragments/resources :: jsResources"></th:block>

</body>
</html>